<div class="grass-menu pull-right">
  <div class="dropdown">
    <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
      <span class="glyphicon glyphicon-list"></span>
    </div>
    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation">
        <a role="menu-item">Logout</a>
      </li>
      <li role="presentation">
        <a role="menu-item" href="#/profile">My Profile</a>
      </li>
      <li role="presentation">
        <a role="menu-item" href="#/edit-profile">Edit Profile</a>
      </li>
    </ul>
  </div>
</div>
