<div class="login-page-wrapper">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="grass-form-wrapper">
        <form role="form" action="{{{basePath}}}/otp" method="post">
          <div class="form-group">
            <p>
              <strong>Enter your mobile number in the box below</strong>
            </p>
            <input name="msisdn" class="form-control" placeholder="+4973517390347" type="text">
            <span class="help-block">By clicking on ''Submit'', a text message with a PIN code will be sent to your mobile. Standard message and data rates may apply.</span>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary grass-btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
