{
  "swagger": "2.0",
  "info": {
    "version": "v2.3",
    "title": "Open Data API",
    "description": "Latest Swagger specification for OpenData Business Current Account data"
  },
  "host": "developer.openbanking.org.uk",
  "basePath": "/open-banking/v2.3",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/prs.openbanking.opendata.v2.3+json"
  ],
  "tags": [
    {
      "name": "BCA",
      "description": "Endpoint for getting Business Current Account data"
    }
  ],
  "paths": {
    "/business-current-accounts": {
      "get": {
        "tags": [
          "BCA"
        ],
        "description": "Gets a list of all `Branch Current Account` objects.",
        "parameters": [
          {
            "name": "If-Modified-Since",
            "type": "string",
            "description": "Used for conditional request, to retrieve data only if modified since a given date",
            "in": "header",
            "required": false
          },
          {
            "name": "If-None-Match",
            "type": "string",
            "description": "Used for conditional request, to retrieve data only if the given Etag value does not match",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a list of `Branch Current Account` data",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "Etag": {
                "type": "string",
                "description": "A unique ID identifying whether this resource has changed"
              },
              "Cache-Control": {
                "type": "string",
                "description": "Describes how long this response can be cached",
                "default": "max-age=28800"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "title": "Meta data",
                  "type": "object",
                  "properties": {
                    "LastUpdated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "TotalResults": {
                      "type": "integer"
                    },
                    "Agreement": {
                      "type": "string",
                      "enum": [
                        "Use of the APIs and any related data will be subject to the terms of the Open Licence and subject to terms and conditions"
                      ]
                    },
                    "License": {
                      "description": "Open Banking License",
                      "type": "string",
                      "format": "uri",
                      "enum": [
                        "https://www.openbanking.org.uk/open-licence"
                      ]
                    },
                    "TermsOfUse": {
                      "description": "Open Banking Terms of Use",
                      "type": "string",
                      "format": "uri",
                      "enum": [
                        "https://www.openbanking.org.uk/terms"
                      ]
                    }
                  },
                  "required": [
                    "LastUpdated",
                    "TotalResults",
                    "Agreement",
                    "License",
                    "TermsOfUse"
                  ],
                  "additionalProperties": false
                },
                "data": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "Brand": {
                        "description": "Brand registered by the banking group at https://register.fca.org.uk/",
                        "type": "array",
                        "title": "Brand",
                        "items": {
                          "description": "Brand registered by the banking group at https://register.fca.org.uk/",
                          "type": "object",
                          "properties": {
                            "BrandName": {
                              "description": "Brand Name that an organisation uses to market its products or services to a consumer as registered at https://register.fca.org.uk/",
                              "title": "BrandName",
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 140
                            },
                            "BCA": {
                              "description": "BCA means a Business Current Account.",
                              "type": "array",
                              "title": "BCA",
                              "items": {
                                "description": "BCA means a Business Current Account.",
                                "type": "object",
                                "properties": {
                                  "Name": {
                                    "description": "The name of the BCA product used for marketing purposes from a customer perspective. I.e. what the customer would recognise.",
                                    "title": "Name",
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 350
                                  },
                                  "Identification": {
                                    "description": "The unique ID that has been internally assigned by the financial institution to each of the current account banking products they market to their retail and/or small to medium enterprise (SME) customers.",
                                    "title": "Identification",
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 40
                                  },
                                  "Segment": {
                                    "description": "Market segmentation is a marketing term referring to the aggregating of prospective buyers into groups, or segments, that have common needs and respond similarly to a marketing action. Market segmentation enables companies to target different categories of consumers who perceive the full value of certain products and services differently from one another.\n\nRead more: Market Segmentation http://www.investopedia.com/terms/m/marketsegmentation.asp#ixzz4gfEEalTd \nFollow us: Investopedia on Facebook\n\nWith respect to BCA products, they are segmented in relation to different markets that they wish to focus on.",
                                    "title": "Segment",
                                    "type": "array",
                                    "items": {
                                      "description": "Market segmentation is a marketing term referring to the aggregating of prospective buyers into groups, or segments, that have common needs and respond similarly to a marketing action. Market segmentation enables companies to target different categories of consumers who perceive the full value of certain products and services differently from one another.\n\nRead more: Market Segmentation http://www.investopedia.com/terms/m/marketsegmentation.asp#ixzz4gfEEalTd \nFollow us: Investopedia on Facebook\n\nWith respect to BCA products, they are segmented in relation to different markets that they wish to focus on.",
                                      "type": "string",
                                      "enum": [
                                        "ClientAccount",
                                        "Standard",
                                        "NonCommercialChaitiesClbSoc",
                                        "NonCommercialPublicAuthGovt",
                                        "Other",
                                        "Religious",
                                        "SectorSpecific",
                                        "Startup",
                                        "Switcher",
                                        "NonCommercial"
                                      ]
                                    }
                                  },
                                  "OnSaleIndicator": {
                                    "description": "Indicates that the published product is OnSale(value 1) or Back Book (value 0)",
                                    "title": "OnSaleIndicator",
                                    "type": "boolean"
                                  },
                                  "FeeFreeLength": {
                                    "description": "The length/duration of the fee free period",
                                    "title": "FeeFreeLength",
                                    "type": "number",
                                    "format": "float"
                                  },
                                  "FeeFreeLengthPeriod": {
                                    "description": "The unit of period (days, weeks, months etc.) of the promotional length",
                                    "title": "FeeFreeLengthPeriod",
                                    "type": "string",
                                    "enum": [
                                      "Day",
                                      "Half Year",
                                      "Month",
                                      "Quarter",
                                      "Week",
                                      "AcademicTerm",
                                      "Year"
                                    ]
                                  },
                                  "Notes": {
                                    "description": "Optional additional notes to supplement the product details",
                                    "title": "Notes",
                                    "type": "array",
                                    "items": {
                                      "description": "maxLength 2000 text",
                                      "type": "string",
                                      "minLength": 1,
                                      "maxLength": 2000
                                    }
                                  },
                                  "OtherSegment": {
                                    "description": "Other Segment not available in the standard segment list",
                                    "type": "array",
                                    "title": "OtherSegment",
                                    "items": {
                                      "description": "Other Segment not available in the standard segment list",
                                      "type": "object",
                                      "properties": {
                                        "Code": {
                                          "description": "The four letter Mnemonic used within an SWAGGER file to identify a code",
                                          "title": "Code",
                                          "type": "string",
                                          "pattern": "^\\w{0,4}$",
                                          "minLength": 0,
                                          "maxLength": 4
                                        },
                                        "Name": {
                                          "description": "Long name associated with the code",
                                          "title": "Name",
                                          "type": "string",
                                          "minLength": 1,
                                          "maxLength": 70
                                        },
                                        "Description": {
                                          "description": "Description to describe the purpose of the code",
                                          "title": "Description",
                                          "type": "string",
                                          "minLength": 1,
                                          "maxLength": 350
                                        }
                                      },
                                      "required": [
                                        "Name",
                                        "Description"
                                      ]
                                    },
                                    "additionalProperties": false
                                  },
                                  "BCAMarketingState": {
                                    "description": "The marketing state (promotional or regular) of the BCA Product.",
                                    "type": "array",
                                    "title": "BCAMarketingState",
                                    "items": {
                                      "description": "The marketing state (promotional or regular) of the BCA Product.",
                                      "type": "object",
                                      "properties": {
                                        "Identification": {
                                          "description": "Unique and unambiguous identification of a  BCA Product Marketing State.",
                                          "title": "Identification",
                                          "type": "string",
                                          "minLength": 1,
                                          "maxLength": 35
                                        },
                                        "PredecessorID": {
                                          "description": "Identifies the marketing state that precedes this marketing state",
                                          "title": "PredecessorID",
                                          "type": "string",
                                          "minLength": 1,
                                          "maxLength": 35
                                        },
                                        "MarketingState": {
                                          "description": "Describes the marketing state (regular or promotional) of the BCA Product",
                                          "title": "MarketingState",
                                          "type": "string",
                                          "enum": [
                                            "Promotional",
                                            "Regular"
                                          ]
                                        },
                                        "FirstMarketedDate": {
                                          "description": "Marketing state start date",
                                          "title": "FirstMarketedDate",
                                          "type": "string",
                                          "format": "date"
                                        },
                                        "LastMarketedDate": {
                                          "description": "Marketing state end date",
                                          "title": "LastMarketedDate",
                                          "type": "string",
                                          "format": "date"
                                        },
                                        "StateTenureLength": {
                                          "description": "The length/duration of a promotional state",
                                          "title": "StateTenureLength",
                                          "type": "number",
                                          "format": "float"
                                        },
                                        "StateTenurePeriod": {
                                          "description": "The unit of period (days, weeks, months etc.) of the promotional length",
                                          "title": "StateTenurePeriod",
                                          "type": "string",
                                          "enum": [
                                            "Day",
                                            "Half Year",
                                            "Month",
                                            "Quarter",
                                            "Week",
                                            "AcademicTerm",
                                            "Year"
                                          ]
                                        },
                                        "Notes": {
                                          "description": "Free text for adding details for marketing state",
                                          "title": "Notes",
                                          "type": "array",
                                          "items": {
                                            "description": "maxLength 2000 text",
                                            "type": "string",
                                            "minLength": 1,
                                            "maxLength": 2000
                                          }
                                        },
                                        "CreditInterest": {
                                          "description": "Details about the interest that may be payable to the BCA account holders",
                                          "type": "object",
                                          "title": "CreditInterest",
                                          "properties": {
                                            "TierBandSet": {
                                              "description": "The group of tiers or bands for which credit interest can be applied.",
                                              "type": "array",
                                              "title": "TierBandSet",
                                              "items": {
                                                "description": "The group of tiers or bands for which credit interest can be applied.",
                                                "type": "object",
                                                "properties": {
                                                  "TierBandMethod": {
                                                    "description": "The methodology of how credit interest is paid/applied. It can be:-\n\n1. Banded\nInterest rates are banded. i.e. Increasing rate on whole balance as balance increases.\n\n2. Tiered\nInterest rates are tiered. i.e. increasing rate for each tier as balance increases, but interest paid on tier fixed for that tier and not on whole balance.\n\n3. Whole\nThe same interest rate is applied irrespective of the BCA balance",
                                                    "title": "TierBandMethod",
                                                    "type": "string",
                                                    "enum": [
                                                      "Banded",
                                                      "Tiered",
                                                      "Whole"
                                                    ]
                                                  },
                                                  "CalculationMethod": {
                                                    "description": "Methods of calculating interest",
                                                    "title": "CalculationMethod",
                                                    "type": "string",
                                                    "enum": [
                                                      "Compound",
                                                      "SimpleInterest"
                                                    ]
                                                  },
                                                  "Destination": {
                                                    "description": "Describes whether accrued interest is payable only to the BCA or to another bank account",
                                                    "title": "Destination",
                                                    "type": "string",
                                                    "enum": [
                                                      "PayAway",
                                                      "SelfCredit"
                                                    ]
                                                  },
                                                  "Notes": {
                                                    "description": "Optional additional notes to supplement the Tier Band Set details",
                                                    "title": "Notes",
                                                    "type": "array",
                                                    "items": {
                                                      "description": "maxLength 2000 text",
                                                      "type": "string",
                                                      "minLength": 1,
                                                      "maxLength": 2000
                                                    }
                                                  },
                                                  "TierBand": {
                                                    "description": "Tier Band Details",
                                                    "type": "array",
                                                    "title": "TierBand",
                                                    "items": {
                                                      "description": "Tier Band Details",
                                                      "type": "object",
                                                      "properties": {
                                                        "Identification": {
                                                          "description": "Unique and unambiguous identification of a  Tier Band for a BCA.",
                                                          "title": "Identification",
                                                          "type": "string",
                                                          "minLength": 1,
                                                          "maxLength": 35
                                                        },
                                                        "TierValueMinimum": {
                                                          "description": "Minimum deposit value for which the credit interest tier applies.",
                                                          "title": "TierValueMinimum",
                                                          "type": "string",
                                                          "pattern": "^(-?\\d{1,14}){1}(\\.\\d{1,4}){0,1}$"
                                                        },
                                                        "TierValueMaximum": {
                                                          "description": "Maximum deposit value for which the credit interest tier applies.",
                                                          "title": "TierValueMaximum",
                                                          "type": "string",
                                                          "pattern": "^(-?\\d{1,14}){1}(\\.\\d{1,4}){0,1}$"
                                                        },
                                                        "CalculationFrequency": {
                                                          "description": "How often is credit interest calculated for the account.",
                                                          "title": "CalculationFrequency",
                                                          "type": "string",
                                                          "enum": [
                                                            "Daily",
                                                            "HalfYearly",
                                                            "Monthly",
                                                            "Other",
                                                            "Quarterly",
                                                            "PerStatementDate",
                                                            "Weekly",
                                                            "Yearly"
                                                          ]
                                                        },
                                                        "ApplicationFrequency": {
                                                          "description": "How often is interest applied to the BCA for this tier/band i.e. how often the financial institution pays accumulated interest to the customers BCA.",
                                                          "title": "ApplicationFrequency",
                                                          "type": "string",
                                                          "enum": [
                                                            "Daily",
                                                            "HalfYearly",
                                                            "Monthly",
                                                            "Other",
                                                            "Quarterly",
                                                            "PerStatementDate",
                                                            "Weekly",
                                                            "Yearly"
                                                          ]
                                                        },
                                                        "DepositInterestAppliedCoverage": {
                                                          "description": "Amount on which Interest applied.",
                                                          "title": "DepositInterestAppliedCoverage",
                                                          "type": "string",
                                                          "enum": [
                                                            "Banded",
                                                            "Tiered",
                                                            "Whole"
                                                          ]
                                                        },
                                                        "FixedVariableInterestRateType": {
                                                          "description": "Type of interest rate, Fixed or Variable",
                                                          "title": "FixedVariableInterestRateType",
                                                          "type": "string",
                                                          "enum": [
                                                            "Fixed",
                                                            "Variable"
                                                          ]
                                                        },
                                                        "AER": {
                                                          "description": "The annual equivalent rate (AER) is interest that is calculated under the assumption that any interest paid is combined with the original balance and the next interest payment will be based on the slightly higher account balance. Overall, this means that interest can be compounded several times in a year depending on the number of times that interest payments are made. \n\nRead more: Annual Equivalent Rate (AER) http://www.investopedia.com/terms/a/aer.asp#ixzz4gfR7IO1A",
                                                          "title": "AER",
                                                          "type": "string",
                                                          "pattern": "^(-?\\d{1,3}){1}(\\.\\d{1,4}){0,1}$"
                                                        },
                                                        "BankInterestRateType": {
                                                          "description": "Interest rate types, other than AER, which financial institutions may use to describe the annual interest rate payable to the BCA.",
                                                          "title": "BankInterestRateType",
                                                          "type": "string",
                                                          "enum": [
                                                            "Gross",
                                                            "Other"
                                                          ]
                                                        },
                                                        "BankInterestRate": {
                                                          "description": "Bank Interest for the BCA product",
                                                          "title": "BankInterestRate",
                                                          "type": "string",
                                                          "pattern": "^(-?\\d{1,3}){1}(\\.\\d{1,4}){0,1}$"
                                                        },
                                                        "Notes": {
                                                          "description": "Optional additional notes to supplement the Tier Band details",
                                                          "title": "Notes",
                                                          "type": "array",
                                                          "items": {
                                                            "description": "maxLength 2000 text",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 2000
                                                          }
                                                        },
                                                        "OtherBankInterestType": {
                                                          "description": "Other interest rate types which are not available in the standard code list",
                                                          "type": "object",
                                                          "title": "OtherBankInterestType",
                                                          "properties": {
                                                            "Code": {
                                                              "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                              "title": "Code",
                                                              "type": "string",
                                                              "pattern": "^\\w{0,4}$",
                                                              "minLength": 0,
                                                              "maxLength": 4
                                                            },
                                                            "Name": {
                                                              "description": "Long name associated with the code",
                                                              "title": "Name",
                                                              "type": "string",
                                                              "minLength": 1,
                                                              "maxLength": 70
                                                            },
                                                            "Description": {
                                                              "description": "Description to describe the purpose of the code",
                                                              "title": "Description",
                                                              "type": "string",
                                                              "minLength": 1,
                                                              "maxLength": 350
                                                            }
                                                          },
                                                          "additionalProperties": false,
                                                          "required": [
                                                            "Name",
                                                            "Description"
                                                          ]
                                                        },
                                                        "OtherApplicationFrequency": {
                                                          "description": "Other application frequencies that are not available in the standard code list",
                                                          "type": "object",
                                                          "title": "OtherApplicationFrequency",
                                                          "properties": {
                                                            "Code": {
                                                              "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                              "title": "Code",
                                                              "type": "string",
                                                              "pattern": "^\\w{0,4}$",
                                                              "minLength": 0,
                                                              "maxLength": 4
                                                            },
                                                            "Name": {
                                                              "description": "Long name associated with the code",
                                                              "title": "Name",
                                                              "type": "string",
                                                              "minLength": 1,
                                                              "maxLength": 70
                                                            },
                                                            "Description": {
                                                              "description": "Description to describe the purpose of the code",
                                                              "title": "Description",
                                                              "type": "string",
                                                              "minLength": 1,
                                                              "maxLength": 350
                                                            }
                                                          },
                                                          "additionalProperties": false,
                                                          "required": [
                                                            "Name",
                                                            "Description"
                                                          ]
                                                        },
                                                        "OtherCalculationFrequency": {
                                                          "description": "Other calculation frequency which is not available in the standard code set.",
                                                          "type": "object",
                                                          "title": "OtherCalculationFrequency",
                                                          "properties": {
                                                            "Code": {
                                                              "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                              "title": "Code",
                                                              "type": "string",
                                                              "pattern": "^\\w{0,4}$",
                                                              "minLength": 0,
                                                              "maxLength": 4
                                                            },
                                                            "Name": {
                                                              "description": "Long name associated with the code",
                                                              "title": "Name",
                                                              "type": "string",
                                                              "minLength": 1,
                                                              "maxLength": 70
                                                            },
                                                            "Description": {
                                                              "description": "Description to describe the purpose of the code",
                                                              "title": "Description",
                                                              "type": "string",
                                                              "minLength": 1,
                                                              "maxLength": 350
                                                            }
                                                          },
                                                          "additionalProperties": false,
                                                          "required": [
                                                            "Name",
                                                            "Description"
                                                          ]
                                                        }
                                                      },
                                                      "required": [
                                                        "TierValueMinimum",
                                                        "CalculationFrequency",
                                                        "ApplicationFrequency",
                                                        "FixedVariableInterestRateType",
                                                        "AER"
                                                      ]
                                                    },
                                                    "additionalProperties": false,
                                                    "minItems": 1
                                                  },
                                                  "CreditInterestEligibility": {
                                                    "description": "Eligibility for credit interest",
                                                    "type": "array",
                                                    "title": "CreditInterestEligibility",
                                                    "items": {
                                                      "description": "Eligibility for credit interest",
                                                      "type": "object",
                                                      "properties": {
                                                        "Name": {
                                                          "description": "Name provided for the eligibility criteria",
                                                          "title": "Name",
                                                          "type": "string",
                                                          "minLength": 1,
                                                          "maxLength": 350
                                                        },
                                                        "Description": {
                                                          "description": "Full description for the eligibility criteria",
                                                          "title": "Description",
                                                          "type": "string",
                                                          "minLength": 1,
                                                          "maxLength": 500
                                                        },
                                                        "Type": {
                                                          "description": "Eligibility type - method by which we group eligibilities for comparison purposes.",
                                                          "title": "Type",
                                                          "type": "string",
                                                          "enum": [
                                                            "AnyBusinessCustomer",
                                                            "MinimumAnniversary",
                                                            "ExistingCustomers",
                                                            "MinimumDeposit",
                                                            "MinimumTransactions",
                                                            "NewCustomersOnly",
                                                            "Other",
                                                            "SwitchersOnly",
                                                            "StartUp",
                                                            "SoleUkAccount",
                                                            "ThirdSectorOnly"
                                                          ]
                                                        },
                                                        "Amount": {
                                                          "description": "Any eligibility criteria where an amount is required to be specified e.g. Minimum Age.",
                                                          "title": "Amount",
                                                          "type": "string",
                                                          "pattern": "^(-?\\d{1,14}){1}(\\.\\d{1,4}){0,1}$"
                                                        },
                                                        "Indicator": {
                                                          "description": "Any eligibility criteria where the value can be indicated by a true or false value. UKResident is True or False",
                                                          "title": "Indicator",
                                                          "type": "boolean"
                                                        },
                                                        "Textual": {
                                                          "description": "Any eligibility criteria where a long description is supplied",
                                                          "title": "Textual",
                                                          "type": "string",
                                                          "minLength": 1,
                                                          "maxLength": 500
                                                        },
                                                        "Period": {
                                                          "description": "Period for which the other eligibility criteria applies.",
                                                          "title": "Period",
                                                          "type": "string",
                                                          "enum": [
                                                            "Daily",
                                                            "HalfYearly",
                                                            "Monthly",
                                                            "Other",
                                                            "Quarterly",
                                                            "PerStatementDate",
                                                            "Weekly",
                                                            "Yearly"
                                                          ]
                                                        },
                                                        "Notes": {
                                                          "description": "Optional additional notes to supplement the eligibility conditions.",
                                                          "title": "Notes",
                                                          "type": "array",
                                                          "items": {
                                                            "description": "maxLength 2000 text",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 2000
                                                          }
                                                        },
                                                        "OtherType": {
                                                          "description": "Non-standard eligibility type code.",
                                                          "type": "object",
                                                          "title": "OtherType",
                                                          "properties": {
                                                            "Code": {
                                                              "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                              "title": "Code",
                                                              "type": "string",
                                                              "pattern": "^\\w{0,4}$",
                                                              "minLength": 0,
                                                              "maxLength": 4
                                                            },
                                                            "Name": {
                                                              "description": "Long name associated with the code",
                                                              "title": "Name",
                                                              "type": "string",
                                                              "minLength": 1,
                                                              "maxLength": 70
                                                            },
                                                            "Description": {
                                                              "description": "Description to describe the purpose of the code",
                                                              "title": "Description",
                                                              "type": "string",
                                                              "minLength": 1,
                                                              "maxLength": 350
                                                            }
                                                          },
                                                          "additionalProperties": false,
                                                          "required": [
                                                            "Name",
                                                            "Description"
                                                          ]
                                                        }
                                                      },
                                                      "required": [
                                                        "Name",
                                                        "Type"
                                                      ]
                                                    },
                                                    "additionalProperties": false
                                                  }
                                                },
                                                "required": [
                                                  "TierBandMethod",
                                                  "Destination",
                                                  "TierBand"
                                                ]
                                              },
                                              "additionalProperties": false,
                                              "minItems": 1
                                            }
                                          },
                                          "additionalProperties": false,
                                          "required": [
                                            "TierBandSet"
                                          ]
                                        },
                                        "Overdraft": {
                                          "description": "Borrowing details",
                                          "type": "object",
                                          "title": "Overdraft",
                                          "properties": {
                                            "Notes": {
                                              "description": "Associated Notes about the overdraft rates",
                                              "title": "Notes",
                                              "type": "array",
                                              "items": {
                                                "description": "maxLength 2000 text",
                                                "type": "string",
                                                "minLength": 1,
                                                "maxLength": 2000
                                              }
                                            },
                                            "TcsAndCsURL": {
                                              "description": "URL provided by the financial institution which redirects to the BCA Overdraft T&Cs on an external website",
                                              "title": "TcsAndCsURL",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 500
                                            },
                                            "OverdraftTierBandSet": {
                                              "description": "Tier band set details",
                                              "type": "array",
                                              "title": "OverdraftTierBandSet",
                                              "items": {
                                                "description": "Tier band set details",
                                                "type": "object",
                                                "properties": {
                                                  "TierBandMethod": {
                                                    "description": "The methodology of how overdraft is charged. It can be:\nWhole  Where the same charge/rate is applied to the entirety of the overdraft balance (where charges are applicable). \nTiered Where different charges/rates are applied dependent on overdraft maximum and minimum balance amount tiers defined by the lending financial organisation\nBanded Where different charges/rates are applied dependent on overdraft maximum and minimum balance amount bands defined by a government organisation.",
                                                    "title": "TierBandMethod",
                                                    "type": "string",
                                                    "enum": [
                                                      "Banded",
                                                      "Tiered",
                                                      "Whole"
                                                    ]
                                                  },
                                                  "OverdraftType": {
                                                    "description": "An overdraft can either be committed which means that the facility cannot be withdrawn without reasonable notification before its agreed end date, or on demand which means that the financial institution can demand repayment at any point in time.",
                                                    "title": "OverdraftType",
                                                    "type": "string",
                                                    "enum": [
                                                      "Committed",
                                                      "OnDemand"
                                                    ]
                                                  },
                                                  "Identification": {
                                                    "description": "Unique and unambiguous identification of a  Tier Band for a overdraft product.",
                                                    "title": "Identification",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 35
                                                  },
                                                  "AuthorisedIndicator": {
                                                    "description": "Indicates if the Overdraft is authorised (Y) or unauthorised (N)",
                                                    "title": "AuthorisedIndicator",
                                                    "type": "boolean"
                                                  },
                                                  "BufferAmount": {
                                                    "description": "When a customer exceeds their credit limit, a financial institution will not charge the customer unauthorised overdraft charges if they do not exceed by more than the buffer amount. Note: Authorised overdraft charges may still apply.",
                                                    "title": "BufferAmount",
                                                    "type": "string",
                                                    "pattern": "^(-?\\d{1,14}){1}(\\.\\d{1,4}){0,1}$"
                                                  },
                                                  "MinimumArrangedOverdraftAmount": {
                                                    "description": "An overdraft is an extension of credit from a lending institution when an account reaches zero. An overdraft allows the individual to continue withdrawing money even if the account has no funds in it or not enough to cover the withdrawal. Some banking products require an accountholder to take an Arranged Overdraft(minimum) of at least GBP X, or else a bank will not process an Arranged Overdraft request.",
                                                    "title": "MinimumArrangedOverdraftAmount",
                                                    "type": "string",
                                                    "pattern": "^(-?\\d{1,14}){1}(\\.\\d{1,4}){0,1}$"
                                                  },
                                                  "Notes": {
                                                    "description": "Optional additional notes to supplement the overdraft Tier Band Set details",
                                                    "title": "Notes",
                                                    "type": "array",
                                                    "items": {
                                                      "description": "maxLength 2000 text",
                                                      "type": "string",
                                                      "minLength": 1,
                                                      "maxLength": 2000
                                                    }
                                                  },
                                                  "OverdraftTierBand": {
                                                    "description": "Provides overdraft details for a specific tier or band",
                                                    "type": "array",
                                                    "title": "OverdraftTierBand",
                                                    "items": {
                                                      "description": "Provides overdraft details for a specific tier or band",
                                                      "type": "object",
                                                      "properties": {
                                                        "Identification": {
                                                          "description": "Unique and unambiguous identification of a  Tier Band for a overdraft.",
                                                          "title": "Identification",
                                                          "type": "string",
                                                          "minLength": 1,
                                                          "maxLength": 35
                                                        },
                                                        "TierValueMin": {
                                                          "description": "Minimum value of Overdraft Tier/Band",
                                                          "title": "TierValueMin",
                                                          "type": "string",
                                                          "pattern": "^(-?\\d{1,14}){1}(\\.\\d{1,4}){0,1}$"
                                                        },
                                                        "TierValueMax": {
                                                          "description": "Maximum value of Overdraft Tier/Band",
                                                          "title": "TierValueMax",
                                                          "type": "string",
                                                          "pattern": "^(-?\\d{1,14}){1}(\\.\\d{1,4}){0,1}$"
                                                        },
                                                        "EAR": {
                                                          "description": "EAR means Effective Annual Rate and/or Equivalent Annual Rate (frequently\nused interchangeably), being the actual annual interest rate of an Overdraft.",
                                                          "title": "EAR",
                                                          "type": "string",
                                                          "pattern": "^(-?\\d{1,3}){1}(\\.\\d{1,4}){0,1}$"
                                                        },
                                                        "AgreementLengthMin": {
                                                          "description": "Specifies the minimum length of a band for a fixed overdraft agreement",
                                                          "title": "AgreementLengthMin",
                                                          "type": "number",
                                                          "format": "float"
                                                        },
                                                        "AgreementLengthMax": {
                                                          "description": "Specifies the maximum length of a band for a fixed overdraft agreement",
                                                          "title": "AgreementLengthMax",
                                                          "type": "number",
                                                          "format": "float"
                                                        },
                                                        "AgreementPeriod": {
                                                          "description": "Specifies the period of a fixed length overdraft agreement",
                                                          "title": "AgreementPeriod",
                                                          "type": "string",
                                                          "enum": [
                                                            "Day",
                                                            "Half Year",
                                                            "Month",
                                                            "Quarter",
                                                            "Week",
                                                            "AcademicTerm",
                                                            "Year"
                                                          ]
                                                        },
                                                        "OverdraftInterestChargingCoverage": {
                                                          "description": "Refers to which interest rate is applied when interests are tiered. For example, if an overdraft balance is GBP 2k and the interest tiers are:- 0-GBP 500 0.1%, 500-1000 0.2%, 1000-10000 0.5%, then the applicable interest rate could either be 0.5% of the entire balance (since the account balance sits in the top interest tier) or (0.1%*500)+(0.2%*500)+(0.5%*1000). In the 1st situation, we say the interest is applied to the Whole of the account balance,  and in the 2nd that it is Tiered.",
                                                          "title": "OverdraftInterestChargingCoverage",
                                                          "type": "string",
                                                          "enum": [
                                                            "Banded",
                                                            "Tiered",
                                                            "Whole"
                                                          ]
                                                        },
                                                        "BankGuaranteedIndicator": {
                                                          "description": "Indicates whether the advertised overdraft rate is guaranteed to be offered to a borrower by the bank e.g. if its part of a government scheme, or whether the rate may vary dependent on the applicants circumstances.",
                                                          "title": "BankGuaranteedIndicator",
                                                          "type": "boolean"
                                                        },
                                                        "Notes": {
                                                          "description": "Optional additional notes to supplement the Tier/band details",
                                                          "title": "Notes",
                                                          "type": "array",
                                                          "items": {
                                                            "description": "maxLength 2000 text",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 2000
                                                          }
                                                        },
                                                        "OverdraftFeesCharges": {
                                                          "description": "Overdraft fees and charges",
                                                          "type": "array",
                                                          "title": "OverdraftFeesCharges",
                                                          "items": {
                                                            "description": "Overdraft fees and charges",
                                                            "type": "object",
                                                            "properties": {
                                                              "OverdraftFeeChargeCap": {
                                                                "description": "Details about any caps (maximum charges) that apply to a particular fee/charge. Capping can either be based on an amount (in gbp), an amount (in items) or a rate.",
                                                                "type": "array",
                                                                "title": "OverdraftFeeChargeCap",
                                                                "items": {
                                                                  "description": "Details about any caps (maximum charges) that apply to a particular fee/charge. Capping can either be based on an amount (in gbp), an amount (in items) or a rate.",
                                                                  "type": "object",
                                                                  "properties": {
                                                                    "FeeType": {
                                                                      "description": "Fee/charge type which is being capped",
                                                                      "title": "FeeType",
                                                                      "type": "array",
                                                                      "items": {
                                                                        "description": "Overdraft fee type",
                                                                        "type": "string",
                                                                        "enum": [
                                                                          "ArrangedOverdraft",
                                                                          "AnnualReview",
                                                                          "EmergencyBorrowing",
                                                                          "BorrowingItem",
                                                                          "OverdraftRenewal",
                                                                          "OverdraftSetup",
                                                                          "Surcharge",
                                                                          "TempOverdraft",
                                                                          "UnauthorisedBorrowing",
                                                                          "UnauthorisedPaidTrans",
                                                                          "Other",
                                                                          "UnauthorisedUnpaidTrans"
                                                                        ]
                                                                      },
                                                                      "minItems": 1
                                                                    },
                                                                    "MinMaxType": {
                                                                      "description": "Min Max type",
                                                                      "title": "MinMaxType",
                                                                      "type": "string",
                                                                      "enum": [
                                                                        "Minimum",
                                                                        "Maximum"
                                                                      ]
                                                                    },
                                                                    "FeeCapOccurrence": {
                                                                      "description": "Indicates whether the advertised overdraft rate is guaranteed to be offered to a borrower by the bank e.g. if its part of a government scheme, or whether the rate may vary dependent on the applicants circumstances.",
                                                                      "title": "FeeCapOccurrence",
                                                                      "type": "number",
                                                                      "format": "float"
                                                                    },
                                                                    "FeeCapAmount": {
                                                                      "description": "Cap amount charged for a fee/charge",
                                                                      "title": "FeeCapAmount",
                                                                      "type": "string",
                                                                      "pattern": "^(-?\\d{1,14}){1}(\\.\\d{1,4}){0,1}$"
                                                                    },
                                                                    "CappingPeriod": {
                                                                      "description": "Period e.g. day, week, month etc. for which the fee/charge is capped",
                                                                      "title": "CappingPeriod",
                                                                      "type": "string",
                                                                      "enum": [
                                                                        "Day",
                                                                        "Half Year",
                                                                        "Month",
                                                                        "Quarter",
                                                                        "Week",
                                                                        "AcademicTerm",
                                                                        "Year"
                                                                      ]
                                                                    },
                                                                    "Notes": {
                                                                      "description": "Notes related to Overdraft fee charge cap",
                                                                      "title": "Notes",
                                                                      "type": "array",
                                                                      "items": {
                                                                        "description": "maxLength 2000 text",
                                                                        "type": "string",
                                                                        "minLength": 1,
                                                                        "maxLength": 2000
                                                                      }
                                                                    },
                                                                    "OtherFeeType": {
                                                                      "description": "Other fee type code which is not available in the standard code set",
                                                                      "type": "array",
                                                                      "title": "OtherFeeType",
                                                                      "items": {
                                                                        "description": "Other fee type code which is not available in the standard code set",
                                                                        "type": "object",
                                                                        "properties": {
                                                                          "Code": {
                                                                            "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                                            "title": "Code",
                                                                            "type": "string",
                                                                            "pattern": "^\\w{0,4}$",
                                                                            "minLength": 0,
                                                                            "maxLength": 4
                                                                          },
                                                                          "Name": {
                                                                            "description": "Long name associated with the code",
                                                                            "title": "Name",
                                                                            "type": "string",
                                                                            "minLength": 1,
                                                                            "maxLength": 70
                                                                          },
                                                                          "Description": {
                                                                            "description": "Description to describe the purpose of the code",
                                                                            "title": "Description",
                                                                            "type": "string",
                                                                            "minLength": 1,
                                                                            "maxLength": 350
                                                                          }
                                                                        },
                                                                        "required": [
                                                                          "Name",
                                                                          "Description"
                                                                        ]
                                                                      },
                                                                      "additionalProperties": false
                                                                    }
                                                                  },
                                                                  "required": [
                                                                    "FeeType",
                                                                    "MinMaxType"
                                                                  ]
                                                                },
                                                                "additionalProperties": false
                                                              },
                                                              "OverdraftFeeChargeDetail": {
                                                                "description": "Details about the fees/charges",
                                                                "type": "array",
                                                                "title": "OverdraftFeeChargeDetail",
                                                                "items": {
                                                                  "description": "Details about the fees/charges",
                                                                  "type": "object",
                                                                  "properties": {
                                                                    "FeeType": {
                                                                      "description": "Overdraft fee type",
                                                                      "title": "FeeType",
                                                                      "type": "string",
                                                                      "enum": [
                                                                        "ArrangedOverdraft",
                                                                        "AnnualReview",
                                                                        "EmergencyBorrowing",
                                                                        "BorrowingItem",
                                                                        "OverdraftRenewal",
                                                                        "OverdraftSetup",
                                                                        "Surcharge",
                                                                        "TempOverdraft",
                                                                        "UnauthorisedBorrowing",
                                                                        "UnauthorisedPaidTrans",
                                                                        "Other",
                                                                        "UnauthorisedUnpaidTrans"
                                                                      ]
                                                                    },
                                                                    "NegotiableIndicator": {
                                                                      "description": "Indicates whether fee and charges are negotiable",
                                                                      "title": "NegotiableIndicator",
                                                                      "type": "boolean"
                                                                    },
                                                                    "OverdraftControlIndicator": {
                                                                      "description": "Indicates if the fee/charge is already covered by an Overdraft Control fee or not.",
                                                                      "title": "OverdraftControlIndicator",
                                                                      "type": "boolean"
                                                                    },
                                                                    "IncrementalBorrowingAmount": {
                                                                      "description": "Every additional tranche of an overdraft balance to which an overdraft fee is applied",
                                                                      "title": "IncrementalBorrowingAmount",
                                                                      "type": "string",
                                                                      "pattern": "^(-?\\d{1,14}){1}(\\.\\d{1,4}){0,1}$"
                                                                    },
                                                                    "FeeAmount": {
                                                                      "description": "Amount charged for an overdraft fee/charge (where it is charged in terms of an amount rather than a rate)",
                                                                      "title": "FeeAmount",
                                                                      "type": "string",
                                                                      "pattern": "^(-?\\d{1,14}){1}(\\.\\d{1,4}){0,1}$"
                                                                    },
                                                                    "FeeRate": {
                                                                      "description": "Rate charged for overdraft fee/charge (where it is charged in terms of a rate rather than an amount)",
                                                                      "title": "FeeRate",
                                                                      "type": "string",
                                                                      "pattern": "^(-?\\d{1,3}){1}(\\.\\d{1,4}){0,1}$"
                                                                    },
                                                                    "FeeRateType": {
                                                                      "description": "Rate type for overdraft fee/charge (where it is charged in terms of a rate rather than an amount)",
                                                                      "title": "FeeRateType",
                                                                      "type": "string",
                                                                      "enum": [
                                                                        "Gross",
                                                                        "Other"
                                                                      ]
                                                                    },
                                                                    "ApplicationFrequency": {
                                                                      "description": "Frequency at which the overdraft charge is applied to the account",
                                                                      "title": "ApplicationFrequency",
                                                                      "type": "string",
                                                                      "enum": [
                                                                        "OnClosing",
                                                                        "OnOpening",
                                                                        "ChargingPeriod",
                                                                        "Daily",
                                                                        "PerItem",
                                                                        "Monthly",
                                                                        "OnAnniversary",
                                                                        "Other",
                                                                        "PerHundredPounds",
                                                                        "PerHour",
                                                                        "PerOccurrence",
                                                                        "PerSheet",
                                                                        "PerTransaction",
                                                                        "PerTransactionAmount",
                                                                        "PerTransactionPercentage",
                                                                        "Quarterly",
                                                                        "SixMonthly",
                                                                        "StatementMonthly",
                                                                        "Weekly",
                                                                        "Yearly"
                                                                      ]
                                                                    },
                                                                    "CalculationFrequency": {
                                                                      "description": "How often is the overdraft fee/charge calculated for the account.",
                                                                      "title": "CalculationFrequency",
                                                                      "type": "string",
                                                                      "enum": [
                                                                        "OnClosing",
                                                                        "OnOpening",
                                                                        "ChargingPeriod",
                                                                        "Daily",
                                                                        "PerItem",
                                                                        "Monthly",
                                                                        "OnAnniversary",
                                                                        "Other",
                                                                        "PerHundredPounds",
                                                                        "PerHour",
                                                                        "PerOccurrence",
                                                                        "PerSheet",
                                                                        "PerTransaction",
                                                                        "PerTransactionAmount",
                                                                        "PerTransactionPercentage",
                                                                        "Quarterly",
                                                                        "SixMonthly",
                                                                        "StatementMonthly",
                                                                        "Weekly",
                                                                        "Yearly"
                                                                      ]
                                                                    },
                                                                    "Notes": {
                                                                      "description": "Free text for capturing any other info related to Overdraft Fees Charge Details",
                                                                      "title": "Notes",
                                                                      "type": "array",
                                                                      "items": {
                                                                        "description": "maxLength 2000 text",
                                                                        "type": "string",
                                                                        "minLength": 1,
                                                                        "maxLength": 2000
                                                                      }
                                                                    },
                                                                    "OverdraftFeeChargeCap": {
                                                                      "description": "Details about any caps (maximum charges) that apply to a particular fee/charge. Capping can either be based on an amount (in gbp), an amount (in items) or a rate.",
                                                                      "type": "object",
                                                                      "title": "OverdraftFeeChargeCap",
                                                                      "properties": {
                                                                        "FeeType": {
                                                                          "description": "Fee/charge type which is being capped",
                                                                          "title": "FeeType",
                                                                          "type": "array",
                                                                          "items": {
                                                                            "description": "Overdraft fee type",
                                                                            "type": "string",
                                                                            "enum": [
                                                                              "ArrangedOverdraft",
                                                                              "AnnualReview",
                                                                              "EmergencyBorrowing",
                                                                              "BorrowingItem",
                                                                              "OverdraftRenewal",
                                                                              "OverdraftSetup",
                                                                              "Surcharge",
                                                                              "TempOverdraft",
                                                                              "UnauthorisedBorrowing",
                                                                              "UnauthorisedPaidTrans",
                                                                              "Other",
                                                                              "UnauthorisedUnpaidTrans"
                                                                            ]
                                                                          },
                                                                          "minItems": 1
                                                                        },
                                                                        "MinMaxType": {
                                                                          "description": "Min Max type",
                                                                          "title": "MinMaxType",
                                                                          "type": "string",
                                                                          "enum": [
                                                                            "Minimum",
                                                                            "Maximum"
                                                                          ]
                                                                        },
                                                                        "FeeCapOccurrence": {
                                                                          "description": "Indicates whether the advertised overdraft rate is guaranteed to be offered to a borrower by the bank e.g. if its part of a government scheme, or whether the rate may vary dependent on the applicants circumstances.",
                                                                          "title": "FeeCapOccurrence",
                                                                          "type": "number",
                                                                          "format": "float"
                                                                        },
                                                                        "FeeCapAmount": {
                                                                          "description": "Cap amount charged for a fee/charge",
                                                                          "title": "FeeCapAmount",
                                                                          "type": "string",
                                                                          "pattern": "^(-?\\d{1,14}){1}(\\.\\d{1,4}){0,1}$"
                                                                        },
                                                                        "CappingPeriod": {
                                                                          "description": "Period e.g. day, week, month etc. for which the fee/charge is capped",
                                                                          "title": "CappingPeriod",
                                                                          "type": "string",
                                                                          "enum": [
                                                                            "Day",
                                                                            "Half Year",
                                                                            "Month",
                                                                            "Quarter",
                                                                            "Week",
                                                                            "AcademicTerm",
                                                                            "Year"
                                                                          ]
                                                                        },
                                                                        "Notes": {
                                                                          "description": "Notes related to Overdraft fee charge cap",
                                                                          "title": "Notes",
                                                                          "type": "array",
                                                                          "items": {
                                                                            "description": "maxLength 2000 text",
                                                                            "type": "string",
                                                                            "minLength": 1,
                                                                            "maxLength": 2000
                                                                          }
                                                                        },
                                                                        "OtherFeeType": {
                                                                          "description": "Other fee type code which is not available in the standard code set",
                                                                          "type": "array",
                                                                          "title": "OtherFeeType",
                                                                          "items": {
                                                                            "description": "Other fee type code which is not available in the standard code set",
                                                                            "type": "object",
                                                                            "properties": {
                                                                              "Code": {
                                                                                "description": "The four letter Mnemonic used within an XML file to identify a code",
[...]
