{
  "swagger": "2.0",
  "info": {
    "version": "v2.3",
    "title": "Open Data API",
    "description": "Latest Swagger specification for OpenData Unsecured SME Loan"
  },
  "host": "developer.openbanking.org.uk",
  "basePath": "/open-banking/v2.3",
  "schemes": ["https"],
  "produces": ["application/prs.openbanking.opendata.v2.3+json"],
  "tags": [ {
    "name": "SME",
    "description": "Endpoint for getting Unsecured SME Loan data"
  }],
  "paths": {
    "/unsecured-sme-loans": {
      "get": {
        "tags": ["SME"],
        "description": "Gets a list of all `Unsercured SME Lending` objects.",
        "parameters": [{
          "name": "If-Modified-Since",
          "type": "string",
          "description": "Used for conditional request, to retrieve data only if modified since a given date",
          "in": "header",
          "required": false
        }, {
          "name": "If-None-Match",
          "type": "string",
          "description": "Used for conditional request, to retrieve data only if the given Etag value does not match",
          "in": "header",
          "required": false
        }],
        "responses": {
          "200": {
            "description": "Successful response with a list of `Unsecured SME Lending` data",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "Etag": {
                "type": "string",
                "description": "A unique ID identifying whether this resource has changed"
              },
              "Cache-Control": {
                "type": "string",
                "description": "Describes how long this response can be cached",
                "default": "max-age=28800"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "title": "Meta data",
                  "type": "object",
                  "properties": {
                    "LastUpdated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "TotalResults": {
                      "type": "integer"
                    },
                    "Agreement": {
                      "type": "string",
                      "enum": ["Use of the APIs and any related data will be subject to the terms of the Open Licence and subject to terms and conditions"]
                    },
                    "License": {
                      "description": "Open Banking License",
                      "type": "string",
                      "format": "uri",
                      "enum": ["https://www.openbanking.org.uk/open-licence"]
                    },
                    "TermsOfUse": {
                      "description": "Open Banking Terms of Use",
                      "type": "string",
                      "format": "uri",
                      "enum": ["https://www.openbanking.org.uk/terms"]
                    }
                  },
                  "required": ["LastUpdated", "TotalResults", "Agreement", "License", "TermsOfUse"],
                  "additionalProperties": false
                },
                "data": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "Brand": {
                        "description": "Brand registered by the banking group at https://register.fca.org.uk/",
                        "type": "array",
                        "title": "Brand",
                        "items": {
                          "description": "Brand registered by the banking group at https://register.fca.org.uk/",
                          "type": "object",
                          "properties": {
                            "BrandName": {
                              "description": "Brand Name that an organisation uses to market its products or services to a consumer as registered at https://register.fca.org.uk/",
                              "title": "BrandName",
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 140
                            },
                            "SMELoan": {
                              "description": "SMELoan means SME unsecured loan.",
                              "type": "array",
                              "title": "SMELoan",
                              "items": {
                                "description": "SMELoan means SME unsecured loan.",
                                "type": "object",
                                "properties": {
                                  "Name": {
                                    "description": "The name of the SME Loan product used for marketing purposes from a customer perspective. I.e. what the customer would recognise.",
                                    "title": "Name",
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 350
                                  },
                                  "Identification": {
                                    "description": "The unique ID that has been internally assigned by the financial institution to each of the current account banking products they market to their retail and/or small to medium enterprise (SME) customers.",
                                    "title": "Identification",
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 40
                                  },
                                  "Segment": {
                                    "description": "Market segmentation is a marketing term referring to the aggregating of prospective buyers into groups, or segments, that have common needs and respond similarly to a marketing action. Market segmentation enables companies to target different categories of consumers who perceive the full value of certain products and services differently from one another.\n\nRead more: Market Segmentation http://www.investopedia.com/terms/m/marketsegmentation.asp#ixzz4gfEEalTd \nFollow us: Investopedia on Facebook\n\nWith respect to SME Loan products, they are segmented in relation to different markets that they wish to focus on.",
                                    "title": "Segment",
                                    "type": "array",
                                    "items": {
                                      "description": "Market segmentation is a marketing term referring to the aggregating of prospective buyers into groups, or segments, that have common needs and respond similarly to a marketing action. Market segmentation enables companies to target different categories of consumers who perceive the full value of certain products and services differently from one another.\n\nRead more: Market Segmentation http://www.investopedia.com/terms/m/marketsegmentation.asp#ixzz4gfEEalTd \nFollow us: Investopedia on Facebook\n\nWith respect to SME Loan products, they are segmented in relation to different markets that they wish to focus on.",
                                      "type": "string",
                                      "enum": ["AgricultureSector", "Business", "FlexibleBusinessLoan", "FixedGroup", "GovernmentScheme", "Other", "SectorSpecific"]
                                    },
                                    "minItems": 1
                                  },
                                  "OtherSegment": {
                                    "description": "Other segment code which is not available in the standard code set",
                                    "type": "array",
                                    "title": "OtherSegment",
                                    "items": {
                                      "description": "Other segment code which is not available in the standard code set",
                                      "type": "object",
                                      "properties": {
                                        "Code": {
                                          "description": "The four letter Mnemonic used within an XML file to identify a code",
                                          "title": "Code",
                                          "type": "string",
                                          "pattern": "^\\w{0,4}$",
                                          "minLength": 0,
                                          "maxLength": 4
                                        },
                                        "Name": {
                                          "description": "Long name associated with the code",
                                          "title": "Name",
                                          "type": "string",
                                          "minLength": 1,
                                          "maxLength": 70
                                        },
                                        "Description": {
                                          "description": "Description to describe the purpose of the code",
                                          "title": "Description",
                                          "type": "string",
                                          "minLength": 1,
                                          "maxLength": 350
                                        }
                                      },
                                      "required": ["Name", "Description"]
                                    },
                                    "additionalProperties": false
                                  },
                                  "SMELoanMarketingState": {
                                    "description": "The marketing state (promotional or regular) of the SME Loan Product.",
                                    "type": "array",
                                    "title": "SMELoanMarketingState",
                                    "items": {
                                      "description": "The marketing state (promotional or regular) of the SME Loan Product.",
                                      "type": "object",
                                      "properties": {
                                        "Identification": {
                                          "description": "Unique and unambiguous identification of a  SME Loan Product Marketing State.",
                                          "title": "Identification",
                                          "type": "string",
                                          "minLength": 1,
                                          "maxLength": 35
                                        },
                                        "PredecessorID": {
                                          "description": "Identifies the marketing state that precedes this marketing state",
                                          "title": "PredecessorID",
                                          "type": "string",
                                          "minLength": 1,
                                          "maxLength": 35
                                        },
                                        "MarketingState": {
                                          "description": "Describes the marketing state (regular or promotional) of the SME Loan Product",
                                          "title": "MarketingState",
                                          "type": "string",
                                          "enum": ["Promotional", "Regular"]
                                        },
                                        "FirstMarketedDate": {
                                          "description": "Marketing state start date",
                                          "title": "FirstMarketedDate",
                                          "type": "string",
                                          "format": "date"
                                        },
                                        "LastMarketedDate": {
                                          "description": "Marketing state end date",
                                          "title": "LastMarketedDate",
                                          "type": "string",
                                          "format": "date"
                                        },
                                        "StateTenureLength": {
                                          "description": "The length/duration of a promotional state",
                                          "title": "StateTenureLength",
                                          "type": "number",
                                          "format": "float"
                                        },
                                        "StateTenurePeriod": {
                                          "description": "The unit of period (days, weeks, months etc.) of the promotional length",
                                          "title": "StateTenurePeriod",
                                          "type": "string",
                                          "enum": ["Day", "Half Year", "Month", "Quarter", "Week", "Year"]
                                        },
                                        "Notes": {
                                          "description": "Free text for adding details for marketing state",
                                          "title": "Notes",
                                          "type": "array",
                                          "items": {
                                            "description": "maxLength 2000 text",
                                            "type": "string",
                                            "minLength": 1,
                                            "maxLength": 2000
                                          }
                                        },
                                        "LoanInterest": {
                                          "description": "Details about the interest that may be payable to the SME Loan",
                                          "type": "object",
                                          "title": "LoanInterest",
                                          "properties": {
                                            "Notes": {
                                              "description": "Optional additional notes to supplement the LoanInterest",
                                              "title": "Notes",
                                              "type": "array",
                                              "items": {
                                                "description": "maxLength 2000 text",
                                                "type": "string",
                                                "minLength": 1,
                                                "maxLength": 2000
                                              }
                                            },
                                            "LoanInterestTierBandSet": {
                                              "description": "The group of tiers or bands for which debit interest can be applied.",
                                              "type": "array",
                                              "title": "LoanInterestTierBandSet",
                                              "items": {
                                                "description": "The group of tiers or bands for which debit interest can be applied.",
                                                "type": "object",
                                                "properties": {
                                                  "TierBandMethod": {
                                                    "description": "The methodology of how credit interest is charged. It can be:-\n\n1. Banded\nInterest rates are banded. i.e. Increasing rate on whole balance as balance increases.\n\n2. Tiered\nInterest rates are tiered. i.e. increasing rate for each tier as balance increases, but interest paid on tier fixed for that tier and not on whole balance.\n\n3. Whole\nThe same interest rate is applied irrespective of the SME Loan balance",
                                                    "title": "TierBandMethod",
                                                    "type": "string",
                                                    "enum": ["Banded", "Tiered", "Whole"]
                                                  },
                                                  "Identification": {
                                                    "description": "Loan interest tierbandset identification. Used by  loan providers for internal use purpose.",
                                                    "title": "Identification",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 35
                                                  },
                                                  "CalculationMethod": {
                                                    "description": "Methods of calculating interest",
                                                    "title": "CalculationMethod",
                                                    "type": "string",
                                                    "enum": ["Compound", "SimpleInterest"]
                                                  },
                                                  "Notes": {
                                                    "description": "Optional additional notes to supplement the Tier Band Set details",
                                                    "title": "Notes",
                                                    "type": "array",
                                                    "items": {
                                                      "description": "maxLength 2000 text",
                                                      "type": "string",
                                                      "minLength": 1,
                                                      "maxLength": 2000
                                                    }
                                                  },
                                                  "LoanInterestTierBand": {
                                                    "description": "Tier Band Details",
                                                    "type": "array",
                                                    "title": "LoanInterestTierBand",
                                                    "items": {
                                                      "description": "Tier Band Details",
                                                      "type": "object",
                                                      "properties": {
                                                        "Identification": {
                                                          "description": "Unique and unambiguous identification of a  Tier Band for a SME Loan.",
                                                          "title": "Identification",
                                                          "type": "string",
                                                          "minLength": 1,
                                                          "maxLength": 35
                                                        },
                                                        "TierValueMinimum": {
                                                          "description": "Minimum loan value for which the loan interest tier applies.",
                                                          "title": "TierValueMinimum",
                                                          "type": "string",
                                                          "pattern": "^(-?\\d{1,14}){1}(\\.\\d{1,4}){0,1}$"
                                                        },
                                                        "TierValueMaximum": {
                                                          "description": "Maximum loan value for which the loan interest tier applies.",
                                                          "title": "TierValueMaximum",
                                                          "type": "string",
                                                          "pattern": "^(-?\\d{1,14}){1}(\\.\\d{1,4}){0,1}$"
                                                        },
                                                        "TierValueMinTerm": {
                                                          "description": "Minimum loan term for which the loan interest tier applies.",
                                                          "title": "TierValueMinTerm",
                                                          "type": "number",
                                                          "format": "float"
                                                        },
                                                        "MinTermPeriod": {
                                                          "description": "The unit of period (days, weeks, months etc.) of the Minimum Term",
                                                          "title": "MinTermPeriod",
                                                          "type": "string",
                                                          "enum": ["Day", "Half Year", "Month", "Quarter", "Week", "Year"]
                                                        },
                                                        "TierValueMaxTerm": {
                                                          "description": "Maximum loan term for which the loan interest tier applies.",
                                                          "title": "TierValueMaxTerm",
                                                          "type": "number",
                                                          "format": "float"
                                                        },
                                                        "MaxTermPeriod": {
                                                          "description": "The unit of period (days, weeks, months etc.) of the Maximum Term",
                                                          "title": "MaxTermPeriod",
                                                          "type": "string",
                                                          "enum": ["Day", "Half Year", "Month", "Quarter", "Week", "Year"]
                                                        },
                                                        "FixedVariableInterestRateType": {
                                                          "description": "Type of interest rate, Fixed or Variable",
                                                          "title": "FixedVariableInterestRateType",
                                                          "type": "string",
                                                          "enum": ["Fixed", "Variable"]
                                                        },
                                                        "RepAPR": {
                                                          "description": "The annual equivalent rate (AER) is interest that is calculated under the assumption that any interest paid is combined with the original balance and the next interest payment will be based on the slightly higher account balance. Overall, this means that interest can be compounded several times in a year depending on the number of times that interest payments are made. \n\nFor SME Loan, this APR is the representative APR which includes any account fees.",
                                                          "title": "RepAPR",
                                                          "type": "string",
                                                          "pattern": "^(-?\\d{1,3}){1}(\\.\\d{1,4}){0,1}$"
                                                        },
                                                        "LoanProviderInterestRateType": {
                                                          "description": "Interest rate types, other than APR, which financial institutions may use to describe the annual interest rate payable for the SME Loan.",
                                                          "title": "LoanProviderInterestRateType",
                                                          "type": "string",
                                                          "enum": ["BOEBaseRate", "FixedRate", "Gross", "LoanProviderBaseRate", "Net", "Other"]
                                                        },
                                                        "LoanProviderInterestRate": {
                                                          "description": "Loan provider Interest for the SME Loan product",
                                                          "title": "LoanProviderInterestRate",
                                                          "type": "string",
                                                          "pattern": "^(-?\\d{1,3}){1}(\\.\\d{1,4}){0,1}$"
                                                        },
                                                        "Notes": {
                                                          "description": "Optional additional notes to supplement the Tier Band details",
                                                          "title": "Notes",
                                                          "type": "array",
                                                          "items": {
                                                            "description": "maxLength 2000 text",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 2000
                                                          }
                                                        },
                                                        "OtherLoanProviderInterestRateType": {
                                                          "description": "Other loan interest rate types which are not available in the standard code list",
                                                          "type": "object",
                                                          "title": "OtherLoanProviderInterestRateType",
                                                          "properties": {
                                                            "Code": {
                                                              "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                              "title": "Code",
                                                              "type": "string",
                                                              "pattern": "^\\w{0,4}$",
                                                              "minLength": 0,
                                                              "maxLength": 4
                                                            },
                                                            "Name": {
                                                              "description": "Long name associated with the code",
                                                              "title": "Name",
                                                              "type": "string",
                                                              "minLength": 1,
                                                              "maxLength": 70
                                                            },
                                                            "Description": {
                                                              "description": "Description to describe the purpose of the code",
                                                              "title": "Description",
                                                              "type": "string",
                                                              "minLength": 1,
                                                              "maxLength": 350
                                                            }
                                                          },
                                                          "additionalProperties": false,
                                                          "required": ["Name", "Description"]
                                                        },
                                                        "LoanInterestFeesCharges": {
                                                          "description": "Contains details of fees and charges which are not associated with either LoanRepayment or features/benefits",
                                                          "type": "array",
                                                          "title": "LoanInterestFeesCharges",
                                                          "items": {
                                                            "description": "Contains details of fees and charges which are not associated with either LoanRepayment or features/benefits",
                                                            "type": "object",
                                                            "properties": {
                                                              "LoanInterestFeeChargeDetail": {
                                                                "description": "Other fees/charges details",
                                                                "type": "array",
                                                                "title": "LoanInterestFeeChargeDetail",
                                                                "items": {
                                                                  "description": "Other fees/charges details",
                                                                  "type": "object",
                                                                  "properties": {
                                                                    "FeeType": {
                                                                      "description": "Fee/Charge Type",
                                                                      "title": "FeeType",
                                                                      "type": "string",
                                                                      "enum": ["Application", "Arrangement", "FeeChargeCap", "CreditReference", "EarlyRepayment", "LatePayment", "MissedPaymentFee", "Monthly", "MissedPaymentRate", "OtherPaymentFee", "Other", "PrepaymentFee", "OtherPaymentRate", "Re-statement", "Statement", "SetUp"]
                                                                    },
                                                                    "NegotiableIndicator": {
                                                                      "description": "Fee/charge which is usually negotiable rather than a fixed amount. Indicates if the Fee/charge is negotiable (Y) or Fixed (N)",
                                                                      "title": "NegotiableIndicator",
                                                                      "type": "boolean"
                                                                    },
                                                                    "FeeAmount": {
                                                                      "description": "Fee Amount charged for a fee/charge (where it is charged in terms of an amount rather than a rate)",
                                                                      "title": "FeeAmount",
                                                                      "type": "string",
                                                                      "pattern": "^(-?\\d{1,14}){1}(\\.\\d{1,4}){0,1}$"
                                                                    },
                                                                    "FeeRate": {
                                                                      "description": "Rate charged for Fee/Charge (where it is charged in terms of a rate rather than an amount)",
                                                                      "title": "FeeRate",
                                                                      "type": "string",
                                                                      "pattern": "^(-?\\d{1,3}){1}(\\.\\d{1,4}){0,1}$"
                                                                    },
                                                                    "FeeRateType": {
                                                                      "description": "Rate type for Fee/Charge (where it is charged in terms of a rate rather than an amount)",
                                                                      "title": "FeeRateType",
                                                                      "type": "string",
                                                                      "enum": ["BOEBaseRate", "FixedRate", "Gross", "LoanProviderBaseRate", "Net", "Other"]
                                                                    },
                                                                    "ApplicationFrequency": {
                                                                      "description": "How frequently the fee/charge is applied to the account",
                                                                      "title": "ApplicationFrequency",
                                                                      "type": "string",
                                                                      "enum": ["OnClosing", "OnOpening", "ChargingPeriod", "Daily", "Holiday", "PerItem", "Monthly", "OnAnniversary", "Other", "PerHundredPounds", "PerHour", "PerOccurrence", "PerSheet", "PerTransaction", "PerTransactionAmount", "PerTransactionPercentage", "Quarterly", "SixMonthly", "StatementMonthly", "Weekly", "Yearly"]
                                                                    },
                                                                    "CalculationFrequency": {
                                                                      "description": "How frequently the fee/charge is calculated",
                                                                      "title": "CalculationFrequency",
                                                                      "type": "string",
                                                                      "enum": ["OnClosing", "OnOpening", "ChargingPeriod", "Daily", "Holiday", "PerItem", "Monthly", "OnAnniversary", "Other", "PerHundredPounds", "PerHour", "PerOccurrence", "PerSheet", "PerTransaction", "PerTransactionAmount", "PerTransactionPercentage", "Quarterly", "SixMonthly", "StatementMonthly", "Weekly", "Yearly"]
                                                                    },
                                                                    "Notes": {
                                                                      "description": "Optional additional notes to supplement the fee/charge details.",
                                                                      "title": "Notes",
                                                                      "type": "array",
                                                                      "items": {
                                                                        "description": "maxLength 2000 text",
                                                                        "type": "string",
                                                                        "minLength": 1,
                                                                        "maxLength": 2000
                                                                      }
                                                                    },
                                                                    "OtherFeeType": {
                                                                      "description": "Other Fee/charge type which is not available in the standard code set",
                                                                      "type": "object",
                                                                      "title": "OtherFeeType",
                                                                      "properties": {
                                                                        "Code": {
                                                                          "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                                          "title": "Code",
                                                                          "type": "string",
                                                                          "pattern": "^\\w{0,4}$",
                                                                          "minLength": 0,
                                                                          "maxLength": 4
                                                                        },
                                                                        "FeeCategory": {
                                                                          "description": "Categorisation of fees and charges into standard categories.",
                                                                          "title": "FeeCategory",
                                                                          "type": "string",
                                                                          "enum": ["BankersDrafts", "CounterServices", "Foreign", "Legal", "Online", "Other", "PaymentScheme", "Penalty", "Repayment", "Report", "Safekeeping", "Servicing", "Transaction"]
                                                                        },
                                                                        "Name": {
                                                                          "description": "Long name associated with the code",
                                                                          "title": "Name",
                                                                          "type": "string",
                                                                          "minLength": 1,
                                                                          "maxLength": 70
                                                                        },
                                                                        "Description": {
                                                                          "description": "Description to describe the purpose of the code",
                                                                          "title": "Description",
                                                                          "type": "string",
                                                                          "minLength": 1,
                                                                          "maxLength": 350
                                                                        }
                                                                      },
                                                                      "additionalProperties": false,
                                                                      "required": ["Name", "Description"]
                                                                    },
                                                                    "OtherFeeRateType": {
                                                                      "description": "Other fee rate type which is not in the standard rate type list",
                                                                      "type": "object",
                                                                      "title": "OtherFeeRateType",
                                                                      "properties": {
                                                                        "Code": {
                                                                          "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                                          "title": "Code",
                                                                          "type": "string",
                                                                          "pattern": "^\\w{0,4}$",
                                                                          "minLength": 0,
                                                                          "maxLength": 4
                                                                        },
                                                                        "Name": {
                                                                          "description": "Long name associated with the code",
                                                                          "title": "Name",
                                                                          "type": "string",
                                                                          "minLength": 1,
                                                                          "maxLength": 70
                                                                        },
                                                                        "Description": {
                                                                          "description": "Description to describe the purpose of the code",
                                                                          "title": "Description",
                                                                          "type": "string",
                                                                          "minLength": 1,
                                                                          "maxLength": 350
                                                                        }
                                                                      },
                                                                      "additionalProperties": false,
                                                                      "required": ["Name", "Description"]
                                                                    },
                                                                    "OtherApplicationFrequency": {
                                                                      "description": "Other application frequencies not covered in the standard code list",
                                                                      "type": "object",
                                                                      "title": "OtherApplicationFrequency",
                                                                      "properties": {
                                                                        "Code": {
                                                                          "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                                          "title": "Code",
                                                                          "type": "string",
                                                                          "pattern": "^\\w{0,4}$",
                                                                          "minLength": 0,
                                                                          "maxLength": 4
                                                                        },
                                                                        "Name": {
                                                                          "description": "Long name associated with the code",
                                                                          "title": "Name",
                                                                          "type": "string",
                                                                          "minLength": 1,
                                                                          "maxLength": 70
                                                                        },
                                                                        "Description": {
                                                                          "description": "Description to describe the purpose of the code",
                                                                          "title": "Description",
                                                                          "type": "string",
                                                                          "minLength": 1,
                                                                          "maxLength": 350
                                                                        }
                                                                      },
                                                                      "additionalProperties": false,
                                                                      "required": ["Name", "Description"]
                                                                    },
                                                                    "OtherCalculationFrequency": {
                                                                      "description": "Other calculation frequency which is not available in standard code set.",
                                                                      "type": "object",
                                                                      "title": "OtherCalculationFrequency",
                                                                      "properties": {
                                                                        "Code": {
                                                                          "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                                          "title": "Code",
                                                                          "type": "string",
                                                                          "pattern": "^\\w{0,4}$",
                                                                          "minLength": 0,
                                                                          "maxLength": 4
                                                                        },
                                                                        "Name": {
                                                                          "description": "Long name associated with the code",
                                                                          "title": "Name",
                                                                          "type": "string",
                                                                          "minLength": 1,
                                                                          "maxLength": 70
                                                                        },
                                                                        "Description": {
                                                                          "description": "Description to describe the purpose of the code",
                                                                          "title": "Description",
                                                                          "type": "string",
                                                                          "minLength": 1,
                                                                          "maxLength": 350
                                                                        }
                                                                      },
                                                                      "additionalProperties": false,
                                                                      "required": ["Name", "Description"]
                                                                    }
                                                                  },
                                                                  "required": ["FeeType", "ApplicationFrequency", "CalculationFrequency"]
                                                                },
                                                                "additionalProperties": false,
                                                                "minItems": 1
                                                              },
                                                              "LoanInterestFeeChargeCap": {
                                                                "description": "Details about any caps (minimum/maximum charges) that apply to a particular fee/charge",
                                                                "type": "array",
                                                                "title": "LoanInterestFeeChargeCap",
                                                                "items": {
                                                                  "description": "Details about any caps (minimum/maximum charges) that apply to a particular fee/charge",
                                                                  "type": "object",
                                                                  "properties": {
                                                                    "FeeType": {
                                                                      "description": "Fee/charge type which is being capped",
                                                                      "title": "FeeType",
                                                                      "type": "array",
                                                                      "items": {
                                                                        "description": "Fee/charge type which is being capped",
                                                                        "type": "string",
                                                                        "enum": ["Application", "Arrangement", "FeeChargeCap", "CreditReference", "EarlyRepayment", "LatePayment", "MissedPaymentFee", "Monthly", "MissedPaymentRate", "OtherPaymentFee", "Other", "PrepaymentFee", "OtherPaymentRate", "Re-statement", "Statement", "SetUp"]
                                                                      },
                                                                      "minItems": 1
                                                                    },
                                                                    "MinMaxType": {
                                                                      "description": "Min Max type",
                                                                      "title": "MinMaxType",
                                                                      "type": "string",
                                                                      "enum": ["Minimum", "Maximum"]
                                                                    },
                                                                    "FeeCapOccurrence": {
                                                                      "description": "fee/charges are captured dependent on the number of occurrences rather than capped at a particular amount",
                                                                      "title": "FeeCapOccurrence",
                                                                      "type": "number",
                                                                      "format": "float"
                                                                    },
                                                                    "FeeCapAmount": {
                                                                      "description": "Cap amount charged for a fee/charge (where it is charged in terms of an amount rather than a rate)",
                                                                      "title": "FeeCapAmount",
                                                                      "type": "string",
                                                                      "pattern": "^(-?\\d{1,14}){1}(\\.\\d{1,4}){0,1}$"
                                                                    },
                                                                    "CappingPeriod": {
                                                                      "description": "Period e.g. day, week, month etc. for which the fee/charge is capped",
                                                                      "title": "CappingPeriod",
                                                                      "type": "string",
                                                                      "enum": ["OnClosing", "OnOpening", "ChargingPeriod", "Daily", "Holiday", "PerItem", "Monthly", "OnAnniversary", "Other", "PerHundredPounds", "PerHour", "PerOccurrence", "PerSheet", "PerTransaction", "PerTransactionAmount", "PerTransactionPercentage", "Quarterly", "SixMonthly", "StatementMonthly", "Weekly", "Yearly"]
                                                                    },
                                                                    "Notes": {
                                                                      "description": "Free text for adding  extra details for fee charge cap",
                                                                      "title": "Notes",
                                                                      "type": "array",
                                                                      "items": {
                                                                        "description": "maxLength 2000 text",
                                                                        "type": "string",
                                                                        "minLength": 1,
                                                                        "maxLength": 2000
                                                                      }
                                                                    },
                                                                    "OtherFeeType": {
                                                                      "description": "Other fee type code which is not available in the standard code set",
                                                                      "type": "array",
                                                                      "title": "OtherFeeType",
                                                                      "items": {
                                                                        "description": "Other fee type code which is not available in the standard code set",
                                                                        "type": "object",
                                                                        "properties": {
                                                                          "Code": {
                                                                            "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                                            "title": "Code",
                                                                            "type": "string",
                                                                            "pattern": "^\\w{0,4}$",
                                                                            "minLength": 0,
                                                                            "maxLength": 4
                                                                          },
                                                                          "Name": {
                                                                            "description": "Long name associated with the code",
                                                                            "title": "Name",
                                                                            "type": "string",
                                                                            "minLength": 1,
                                                                            "maxLength": 70
                                                                          },
                                                                          "Description": {
                                                                            "description": "Description to describe the purpose of the code",
                                                                            "title": "Description",
                                                                            "type": "string",
                                                                            "minLength": 1,
                                                                            "maxLength": 350
                                                                          }
                                                                        },
                                                                        "required": ["Name", "Description"]
                                                                      },
                                                                      "additionalProperties": false
                                                                    }
                                                                  },
                                                                  "required": ["FeeType", "MinMaxType"]
                                                                },
                                                                "additionalProperties": false
                                                              }
                                                            },
                                                            "required": ["LoanInterestFeeChargeDetail"]
                                                          },
                                                          "additionalProperties": false
                                                        }
                                                      },
                                                      "required": ["TierValueMinimum", "TierValueMinTerm", "MinTermPeriod", "FixedVariableInterestRateType", "RepAPR"]
                                                    },
                                                    "additionalProperties": false,
                                                    "minItems": 1
                                                  },
                                                  "LoanInterestFeesCharges": {
                                                    "description": "Contains details of fees and charges which are not associated with either LoanRepayment or features/benefits",
                                                    "type": "array",
                                                    "title": "LoanInterestFeesCharges",
                                                    "items": {
                                                      "description": "Contains details of fees and charges which are not associated with either LoanRepayment or features/benefits",
                                                      "type": "object",
                                                      "properties": {
                                                        "LoanInterestFeeChargeDetail": {
                                                          "description": "Other fees/charges details",
                                                          "type": "array",
                                                          "title": "LoanInterestFeeChargeDetail",
                                                          "items": {
                                                            "description": "Other fees/charges details",
                                                            "type": "object",
                                                            "properties": {
                                                              "FeeType": {
                                                                "description": "Fee/Charge Type",
                                                                "title": "FeeType",
                                                                "type": "string",
                                                                "enum": ["Application", "Arrangement", "FeeChargeCap", "CreditReference", "EarlyRepayment", "LatePayment", "MissedPaymentFee", "Monthly", "MissedPaymentRate", "OtherPaymentFee", "Other", "PrepaymentFee", "OtherPaymentRate", "Re-statement", "Statement", "SetUp"]
                                                              },
                                                              "NegotiableIndicator": {
                                                                "description": "Fee/charge which is usually negotiable rather than a fixed amount. Indicates if the Fee/charge is negotiable (Y) or Fixed (N)",
                                                                "title": "NegotiableIndicator",
                                                                "type": "boolean"
                                                              },
                                                              "FeeAmount": {
                                                                "description": "Fee Amount charged for a fee/charge (where it is charged in terms of an amount rather than a rate)",
                                                                "title": "FeeAmount",
                                                                "type": "string",
                                                                "pattern": "^(-?\\d{1,14}){1}(\\.\\d{1,4}){0,1}$"
                                                              },
                                                              "FeeRate": {
                                                                "description": "Rate charged for Fee/Charge (where it is charged in terms of a rate rather than an amount)",
                                                                "title": "FeeRate",
                                                                "type": "string",
                                                                "pattern": "^(-?\\d{1,3}){1}(\\.\\d{1,4}){0,1}$"
                                                              },
                                                              "FeeRateType": {
                                                                "description": "Rate type for Fee/Charge (where it is charged in terms of a rate rather than an amount)",
                                                                "title": "FeeRateType",
                                                                "type": "string",
                                                                "enum": ["BOEBaseRate", "FixedRate", "Gross", "LoanProviderBaseRate", "Net", "Other"]
                                                              },
                                                              "ApplicationFrequency": {
                                                                "description": "How frequently the fee/charge is applied to the account",
                                                                "title": "ApplicationFrequency",
                                                                "type": "string",
                                                                "enum": ["OnClosing", "OnOpening", "ChargingPeriod", "Daily", "Holiday", "PerItem", "Monthly", "OnAnniversary", "Other", "PerHundredPounds", "PerHour", "PerOccurrence", "PerSheet", "PerTransaction", "PerTransactionAmount", "PerTransactionPercentage", "Quarterly", "SixMonthly", "StatementMonthly", "Weekly", "Yearly"]
                                                              },
                                                              "CalculationFrequency": {
                                                                "description": "How frequently the fee/charge is calculated",
                                                                "title": "CalculationFrequency",
                                                                "type": "string",
                                                                "enum": ["OnClosing", "OnOpening", "ChargingPeriod", "Daily", "Holiday", "PerItem", "Monthly", "OnAnniversary", "Other", "PerHundredPounds", "PerHour", "PerOccurrence", "PerSheet", "PerTransaction", "PerTransactionAmount", "PerTransactionPercentage", "Quarterly", "SixMonthly", "StatementMonthly", "Weekly", "Yearly"]
                                                              },
                                                              "Notes": {
                                                                "description": "Optional additional notes to supplement the fee/charge details.",
                                                                "title": "Notes",
                                                                "type": "array",
                                                                "items": {
                                                                  "description": "maxLength 2000 text",
                                                                  "type": "string",
                                                                  "minLength": 1,
                                                                  "maxLength": 2000
                                                                }
                                                              },
                                                              "OtherFeeType": {
                                                                "description": "Other Fee/charge type which is not available in the standard code set",
                                                                "type": "object",
                                                                "title": "OtherFeeType",
                                                                "properties": {
                                                                  "Code": {
                                                                    "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                                    "title": "Code",
                                                                    "type": "string",
                                                                    "pattern": "^\\w{0,4}$",
                                                                    "minLength": 0,
                                                                    "maxLength": 4
                                                                  },
                                                                  "FeeCategory": {
                                                                    "description": "Categorisation of fees and charges into standard categories.",
                                                                    "title": "FeeCategory",
                                                                    "type": "string",
                                                                    "enum": ["BankersDrafts", "CounterServices", "Foreign", "Legal", "Online", "Other", "PaymentScheme", "Penalty", "Repayment", "Report", "Safekeeping", "Servicing", "Transaction"]
                                                                  },
                                                                  "Name": {
                                                                    "description": "Long name associated with the code",
                                                                    "title": "Name",
                                                                    "type": "string",
                                                                    "minLength": 1,
                                                                    "maxLength": 70
                                                                  },
                                                                  "Description": {
                                                                    "description": "Description to describe the purpose of the code",
                                                                    "title": "Description",
                                                                    "type": "string",
                                                                    "minLength": 1,
                                                                    "maxLength": 350
                                                                  }
                                                                },
                                                                "additionalProperties": false,
                                                                "required": ["Name", "Description"]
                                                              },
                                                              "OtherFeeRateType": {
                                                                "description": "Other fee rate type which is not in the standard rate type list",
                                                                "type": "object",
                                                                "title": "OtherFeeRateType",
                                                                "properties": {
                                                                  "Code": {
                                                                    "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                                    "title": "Code",
                                                                    "type": "string",
                                                                    "pattern": "^\\w{0,4}$",
                                                                    "minLength": 0,
                                                                    "maxLength": 4
                                                                  },
                                                                  "Name": {
                                                                    "description": "Long name associated with the code",
                                                                    "title": "Name",
                                                                    "type": "string",
                                                                    "minLength": 1,
                                                                    "maxLength": 70
                                                                  },
                                                                  "Description": {
                                                                    "description": "Description to describe the purpose of the code",
                                                                    "title": "Description",
                                                                    "type": "string",
                                                                    "minLength": 1,
                                                                    "maxLength": 350
                                                                  }
                                                                },
                                                                "additionalProperties": false,
                                                                "required": ["Name", "Description"]
                                                              },
                                                              "OtherApplicationFrequency": {
                                                                "description": "Other application frequencies not covered in the standard code list",
                                                                "type": "object",
                                                                "title": "OtherApplicationFrequency",
                                                                "properties": {
                                                                  "Code": {
                                                                    "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                                    "title": "Code",
                                                                    "type": "string",
                                                                    "pattern": "^\\w{0,4}$",
                                                                    "minLength": 0,
                                                                    "maxLength": 4
                                                                  },
                                                                  "Name": {
                                                                    "description": "Long name associated with the code",
                                                                    "title": "Name",
                                                                    "type": "string",
                                                                    "minLength": 1,
                                                                    "maxLength": 70
                                                                  },
                                                                  "Description": {
                                                                    "description": "Description to describe the purpose of the code",
                                                                    "title": "Description",
                                                                    "type": "string",
                                                                    "minLength": 1,
                                                                    "maxLength": 350
                                                                  }
                                                                },
                                                                "additionalProperties": false,
                                                                "required": ["Name", "Description"]
                                                              },
                                                              "OtherCalculationFrequency": {
                                                                "description": "Other calculation frequency which is not available in standard code set.",
                                                                "type": "object",
                                                                "title": "OtherCalculationFrequency",
                                                                "properties": {
                                                                  "Code": {
                                                                    "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                                    "title": "Code",
                                                                    "type": "string",
                                                                    "pattern": "^\\w{0,4}$",
                                                                    "minLength": 0,
                                                                    "maxLength": 4
                                                                  },
                                                                  "Name": {
                                                                    "description": "Long name associated with the code",
                                                                    "title": "Name",
                                                                    "type": "string",
                                                                    "minLength": 1,
                                                                    "maxLength": 70
                                                                  },
                                                                  "Description": {
                                                                    "description": "Description to describe the purpose of the code",
                                                                    "title": "Description",
                                                                    "type": "string",
                                                                    "minLength": 1,
                                                                    "maxLength": 350
                                                                  }
                                                                },
                                                                "additionalProperties": false,
                                                                "required": ["Name", "Description"]
                                                              }
                                                            },
                                                            "required": ["FeeType", "ApplicationFrequency", "CalculationFrequency"]
                                                          },
                                                          "additionalProperties": false,
                                                          "minItems": 1
                                                        },
                                                        "LoanInterestFeeChargeCap": {
                                                          "description": "Details about any caps (minimum/maximum charges) that apply to a particular fee/charge",
                                                          "type": "array",
                                                          "title": "LoanInterestFeeChargeCap",
                                                          "items": {
                                                            "description": "Details about any caps (minimum/maximum charges) that apply to a particular fee/charge",
                                                            "type": "object",
                                                            "properties": {
                                                              "FeeType": {
                                                                "description": "Fee/charge type which is being capped",
                                                                "title": "FeeType",
                                                                "type": "array",
                                                                "items": {
                                                                  "description": "Fee/charge type which is being capped",
                                                                  "type": "string",
                                                                  "enum": ["Application", "Arrangement", "FeeChargeCap", "CreditReference", "EarlyRepayment", "LatePayment", "MissedPaymentFee", "Monthly", "MissedPaymentRate", "OtherPaymentFee", "Other", "PrepaymentFee", "OtherPaymentRate", "Re-statement", "Statement", "SetUp"]
                                                                },
                                                                "minItems": 1
                                                              },
                                                              "MinMaxType": {
                                                                "description": "Min Max type",
                                                                "title": "MinMaxType",
                                                                "type": "string",
                                                                "enum": ["Minimum", "Maximum"]
                                                              },
                                                              "FeeCapOccurrence": {
                                                                "description": "fee/charges are captured dependent on the number of occurrences rather than capped at a particular amount",
                                                                "title": "FeeCapOccurrence",
                                                                "type": "number",
                                                                "format": "float"
                                                              },
                                                              "FeeCapAmount": {
                                                                "description": "Cap amount charged for a fee/charge (where it is charged in terms of an amount rather than a rate)",
                                                                "title": "FeeCapAmount",
                                                                "type": "string",
                                                                "pattern": "^(-?\\d{1,14}){1}(\\.\\d{1,4}){0,1}$"
                                                              },
                                                              "CappingPeriod": {
                                                                "description": "Period e.g. day, week, month etc. for which the fee/charge is capped",
                                                                "title": "CappingPeriod",
                                                                "type": "string",
                                                                "enum": ["OnClosing", "OnOpening", "ChargingPeriod", "Daily", "Holiday", "PerItem", "Monthly", "OnAnniversary", "Other", "PerHundredPounds", "PerHour", "PerOccurrence", "PerSheet", "PerTransaction", "PerTransactionAmount", "PerTransactionPercentage", "Quarterly", "SixMonthly", "StatementMonthly", "Weekly", "Yearly"]
                                                              },
                                                              "Notes": {
                                                                "description": "Free text for adding  extra details for fee charge cap",
                                                                "title": "Notes",
                                                                "type": "array",
                                                                "items": {
                                                                  "description": "maxLength 2000 text",
                                                                  "type": "string",
                                                                  "minLength": 1,
                                                                  "maxLength": 2000
                                                                }
                                                              },
                                                              "OtherFeeType": {
                                                                "description": "Other fee type code which is not available in the standard code set",
                                                                "type": "array",
                                                                "title": "OtherFeeType",
                                                                "items": {
                                                                  "description": "Other fee type code which is not available in the standard code set",
                                                                  "type": "object",
                                                                  "properties": {
                                                                    "Code": {
                                                                      "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                                      "title": "Code",
                                                                      "type": "string",
                                                                      "pattern": "^\\w{0,4}$",
                                                                      "minLength": 0,
                                                                      "maxLength": 4
                                                                    },
                                                                    "Name": {
                                                                      "description": "Long name associated with the code",
                                                                      "title": "Name",
                                                                      "type": "string",
                                                                      "minLength": 1,
                                                                      "maxLength": 70
                                                                    },
                                                                    "Description": {
                                                                      "description": "Description to describe the purpose of the code",
                                                                      "title": "Description",
                                                                      "type": "string",
                                                                      "minLength": 1,
                                                                      "maxLength": 350
                                                                    }
                                                                  },
                                                                  "required": ["Name", "Description"]
                                                                },
                                                                "additionalProperties": false
                                                              }
                                                            },
                                                            "required": ["FeeType", "MinMaxType"]
                                                          },
                                                          "additionalProperties": false
                                                        }
                                                      },
                                                      "required": ["LoanInterestFeeChargeDetail"]
                                                    },
                                                    "additionalProperties": false
                                                  }
                                                },
                                                "required": ["TierBandMethod", "CalculationMethod", "LoanInterestTierBand"]
                                              },
                                              "additionalProperties": false,
                                              "minItems": 1
                                            }
                                          },
                                          "additionalProperties": false,
                                          "required": ["LoanInterestTierBandSet"]
                                        },
                                        "Repayment": {
                                          "description": "Repayment details of the Loan product",
                                          "type": "array",
                                          "title": "Repayment",
                                          "items": {
                                            "description": "Repayment details of the Loan product",
                                            "type": "object",
                                            "properties": {
                                              "RepaymentType": {
                                                "description": "Repayment type",
                                                "title": "RepaymentType",
                                                "type": "string",
                                                "enum": ["Balloon", "Bullet", "CapitalAndInterest", "CustomSchedule", "EarlyRepayment", "FixedCapitalFullyAmortising", "FixedCapitalWithBullet", "FixedCapitalAndInterestReducingBalance", "InterestOnly", "Other", "PrepaymentFee", "RepaymentWithBullet", "StraightLineInterestOnly"]
                                              },
                                              "RepaymentFrequency": {
                                                "description": "Repayment frequency",
                                                "title": "RepaymentFrequency",
                                                "type": "string",
                                                "enum": ["Daily", "Flexible", "Fortnightly", "HalfYearly", "Monthly", "Other", "Quarterly", "Weekly", "Yearly"]
                                              },
                                              "AmountType": {
                                                "description": "The repayment is for paying just the interest only or both interest and capital or bullet amount or balance to date etc",
                                                "title": "AmountType",
                                                "type": "string",
                                                "enum": ["BalanceToDate", "Balloon", "CapitalAndInterest", "FeeChargeCap", "InterestOnly", "Bullet", "Other"]
                                              },
                                              "Notes": {
                                                "description": "Optional additional notes to supplement the Repayment",
                                                "title": "Notes",
                                                "type": "array",
                                                "items": {
                                                  "description": "maxLength 2000 text",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 2000
                                                }
                                              },
                                              "OtherRepaymentType": {
                                                "description": "Other repayment type which is not in the standard code list",
                                                "type": "object",
                                                "title": "OtherRepaymentType",
                                                "properties": {
                                                  "Code": {
                                                    "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                    "title": "Code",
                                                    "type": "string",
                                                    "pattern": "^\\w{0,4}$",
                                                    "minLength": 0,
                                                    "maxLength": 4
                                                  },
                                                  "Name": {
                                                    "description": "Long name associated with the code",
                                                    "title": "Name",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 70
                                                  },
                                                  "Description": {
                                                    "description": "Description to describe the purpose of the code",
                                                    "title": "Description",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 350
                                                  }
                                                },
                                                "additionalProperties": false,
                                                "required": ["Name", "Description"]
                                              },
                                              "OtherRepaymentFrequency": {
                                                "description": "Other repayment frequency which is not in the standard code list",
                                                "type": "object",
                                                "title": "OtherRepaymentFrequency",
                                                "properties": {
                                                  "Code": {
                                                    "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                    "title": "Code",
                                                    "type": "string",
                                                    "pattern": "^\\w{0,4}$",
                                                    "minLength": 0,
                                                    "maxLength": 4
                                                  },
                                                  "Name": {
                                                    "description": "Long name associated with the code",
                                                    "title": "Name",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 70
                                                  },
                                                  "Description": {
                                                    "description": "Description to describe the purpose of the code",
                                                    "title": "Description",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 350
                                                  }
                                                },
                                                "additionalProperties": false,
                                                "required": ["Name", "Description"]
                                              },
                                              "OtherAmountType": {
                                                "description": "Other amount type which is not in the standard code list",
                                                "type": "object",
                                                "title": "OtherAmountType",
                                                "properties": {
                                                  "Code": {
                                                    "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                    "title": "Code",
                                                    "type": "string",
                                                    "pattern": "^\\w{0,4}$",
                                                    "minLength": 0,
                                                    "maxLength": 4
                                                  },
                                                  "Name": {
                                                    "description": "Long name associated with the code",
                                                    "title": "Name",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 70
                                                  },
[...]
